<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Simple Twitter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/base.css">
  <link rel="stylesheet" href="/stylesheets/login.css">
  <link rel="stylesheet" href="/stylesheets/signup.css">
  <link rel="stylesheet" href="/stylesheets/admin-users.css">
  <script src="https://kit.fontawesome.com/2e90554d29.js"></script>
</head>

<body>
  <nav>
    <div class="inner-navbar">
      <a class="logo" href="/"><i class="fab fa-twitter"></i>Simple Twitter</a>
      <ul class="option" id="">
        {{#ifCond currentUser.role "admin"}}
        <li><a href="/admin/tweets"><i class="fas fa-money-check"></i>Admin</a></li>
        {{/ifCond}}
        {{#ifCond currentUser.role "user"}}
        <li>
        </li> {{/ifCond}}
        <li> <a href=""><i class="far fa-user-circle"></i>Profile</a>
        </li>
        <li><a href="/logout" class="logout"><i class="fas fa-sign-out-alt"></i>LogOut</a></li>
    </div>
    </div>
  </nav>
  {{{body}}}
</body>

</html>