<div class="signin-container">
  <div class="col-left">
    <ul>
      <li><i class="fas fa-search"></i>Follow your interests.</li>
      <li><i class="far fa-meh-rolling-eyes"></i>Hear what people are talking about.</li>
      <li><i class="far fa-comment"></i>Join the conversation.</li>
    </ul>
  </div>
  <div class="col-right">
    <div class="slogan">
      <div class="logo"><i class="fab fa-twitter"></i></div>
      See what’s happening in the world right now
    </div>
    {{#if error_messages}}
    <div class="alert-danger" role="alert">
      {{error_messages}}
    </div>
    {{/if}}
    <form class="form-signin" action="/signin" method="POST">
      <div class="">
        <input type="text" name="email" class="" placeholder="Email" required autofocus>
      </div>
      <div class="">
        <input type="password" name="password" class="" placeholder="Password" required>
      </div>
      <button class="signin Button-Login-Signup" type="submit">Log in</button>
      <a class="Button-Login-Signup" href="/signup">Sign Up</a>
    </form>
  </div>
</div>