* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--hoverColorLight);
}

.list-container {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: left;
  padding: 70px 100px 15px 50px;
}

.list-container > div > a {
  font-size: 24px;
  color: white;
  margin: 15px;
}

.list-container > div > a:hover {
  color: var(--darkBlue);
}

table {
  border-collapse: collapse;
}

td {
  border: none;
  padding: 10px 0px;
}

.thead,
tbody {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  display: grid;
  justify-content: center;
  width: 1400px;
  margin: 10px 30px 10px 50px;
  display: inline-block;
}

.thead > tr > th,
tbody > tr > th,
td {
  color: white;
  font-size: 20px;
  width: 240px;
}

tbody > tr > th,
td,
a {
  color: white;
  font-size: 18px;
  transition: 0.3s;
}

tbody > tr > td:hover {
  margin-top: 40px;
  box-shadow: 0 3px 15px 3px white;
}

.thead,
tbody {
  box-shadow: 10px 5px rgba(0, 0, 0, 0.3);
}

tr:nth-child(even) {
  background-color: #158de9;
}
