.home-page {
  padding: 60px 0px;
  width: 890px;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 65% 35%;
  grid-template-areas: 'home-left home-right';
  grid-gap: 15px;
  color: #000;
}

/*home-col-left*/

.home-page > .home-col-left {
  background-color: #fff;
  grid-area: home-left;
  height: fit-content;
}

.home-page > .home-col-left > .add-tweets {
  background-color: #e8f5fd;
  padding: 15px;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 125px;
  grid-template-areas: 'home-avatar home-tweet';
}

.home-page > .home-col-left > .add-tweets > .avatar {
  grid-area: home-avatar;
  padding-left: 24px;
}

.home-page > .home-col-left > .add-tweets > .tweets-content {
  grid-area: home-tweet;
}

.home-page > .home-col-left > .add-tweets > .tweets-content > form {
  position: relative;
}

.home-page > .home-col-left > .add-tweets > .tweets-content > form > textarea {
  font-size: 14px;
  resize: none;
  width: 100%;
  border: 2px solid #a4d9f9;
  border-radius: 10px;
  padding: 8px 40px 8px 8px;
}

.home-page > .home-col-left > .add-tweets > .tweets-content > form > span {
  position: absolute;
  bottom: 48px;
  right: 10px;
  color: #66757f;
}

.bottom-option {
  margin-top: 5px;
  text-align: right;
}

.home-page > .home-col-right {
  background-color: #fff;
  grid-area: home-right;
}

.home-page > .home-col-left > .view-tweets > .individual-tweet {
  height: 110px;
  border-bottom: 1px solid #e6ecf0;
  padding: 10px 15px;
  display: flex;
}

.home-page > .home-col-left > .view-tweets > .individual-tweet > .col-left {
  padding-right: 15px;
}

.home-page > .home-col-left > .view-tweets > .individual-tweet > .col-right {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 22px 30px 15px 20px;
  grid-template-areas:
    'tweet-info'
    'description'
    '.'
    'reaction';
}

.home-page
  > .home-col-left
  > .view-tweets
  > .individual-tweet
  > .col-right
  > p {
  grid-area: description;
}

.home-page
  > .home-col-left
  > .view-tweets
  > .individual-tweet
  > .col-right
  > .tweet-info {
  grid-area: tweet-info;
}

.home-page
  > .home-col-left
  > .view-tweets
  > .individual-tweet
  > .col-right
  > .tweet-info
  > a {
  color: #14171a;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.home-page
  > .home-col-left
  > .view-tweets
  > .individual-tweet
  > .col-right
  > .tweet-info
  > span {
  color: var(--Grey);
}

.home-page
  > .home-col-left
  > .view-tweets
  > .individual-tweet
  > .col-right
  > .reaction {
  grid-area: reaction;
  display: flex;
}

.home-page
  > .home-col-left
  > .view-tweets
  > .individual-tweet
  > .col-right
  > .reaction
  > a,
.home-page
  > .home-col-left
  > .view-tweets
  > .individual-tweet
  > .col-right
  > .reaction
  > form
  > button {
  font-size: 14px;
  color: var(--Grey);
  margin-right: 30px;
  border: none;
}

/*home-col-right*/
.home-page > .home-col-right {
  padding: 10px 20px;
  height: fit-content;
}

.home-page > .home-col-right > .title {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 600;
  color: var(--lightBlue);
}

.home-page > .home-col-right > .user-list {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 115px;
  grid-template-areas: 'user-avatar user-info';
  border-bottom: 1px solid #e6ecf0;
  margin-bottom: 15px;
}

.home-page > .home-col-right > .user-list > .col-left {
  grid-area: user-avatar;
  margin: 0px auto;
}

.home-page > .home-col-right > .user-list > .col-right {
  grid-area: user-info;
  display: grid;
  grid-template-rows: 25px 50px 30px;
  grid-template-columns: 1fr;
  grid-template-areas:
    'popular-name'
    'introduction'
    'follow-button';
}
.home-page > .home-col-right > .user-list > .col-right > .tweet-info {
  grid-area: popular-name;
}

.home-page > .home-col-right > .user-list > .col-right > .tweet-info > a {
  color: #000;
  font-weight: 600;
}

.home-page > .home-col-right > .user-list > .col-right > p {
  grid-area: introduction;
}

.home-page > .home-col-right > .user-list > .col-right > form {
  grid-area: follow-button;
  text-align: right;
}
