.home-page {
  padding: 60px 0px;
  width: 890px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -ms-grid-columns: 65% 35%;
  grid-template-columns: 65% 35%;
  grid-template-areas: 'home-left home-right';
  grid-gap: 15px;
  color: #000;
}

/*home-col-left*/
.home-page > .home-col-left {
  background-color: #fff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: home-left;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.home-page > .home-col-left > .add-tweets {
  background-color: #e8f5fd;
  padding: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 85%;
  grid-template-columns: 15% 85%;
  -ms-grid-rows: 125px;
  grid-template-rows: 125px;
  grid-template-areas: 'home-avatar home-tweet';
}

.home-page > .home-col-left > .add-tweets > .avatar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: home-avatar;
  padding-left: 24px;
}

.tweets-content {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: home-tweet;
}

.tweets-content > form {
  position: relative;
}

.tweets-content > form > textarea {
  font-size: 14px;
  resize: none;
  width: 100%;
  border: 2px solid #a4d9f9;
  border-radius: 10px;
  padding: 8px 40px 8px 8px;
}

.tweets-content > form > span {
  position: absolute;
  bottom: 48px;
  right: 10px;
  color: var(--Grey);
}

.bottom-option {
  margin-top: 5px;
  text-align: right;
}

.home-page > .home-col-right {
  background-color: #fff;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: home-right;
}

.home-page > .home-col-left > .view-tweets > .individual-tweet {
  height: 120px;
  border-bottom: 1px solid var(--bgColor);
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.home-page > .home-col-left > .view-tweets > .individual-tweet > .col-left {
  padding-right: 15px;
}

.home-page > .home-col-left > .view-tweets > .individual-tweet > .col-right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 480px;
  grid-template-columns: 480px;
  -ms-grid-rows: 22px 30px 15px 20px;
  grid-template-rows: 22px 30px 15px 20px;
  grid-template-areas: 'tweet-info' 'description' '.' 'reaction';
  overflow: hidden;
}

.home-page
  > .home-col-left
  > .view-tweets
  > .individual-tweet
  > .col-right
  > p {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: description;
}

.home-page
  > .home-col-left
  > .view-tweets
  > .individual-tweet
  > .col-right
  > .tweet-info {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: tweet-info;
}

.home-page
  > .home-col-left
  > .view-tweets
  > .individual-tweet
  > .col-right
  > .tweet-info
  > a {
  color: #14171a;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.home-page
  > .home-col-left
  > .view-tweets
  > .individual-tweet
  > .col-right
  > .tweet-info
  > span {
  color: var(--Grey);
}

.home-page
  > .home-col-left
  > .view-tweets
  > .individual-tweet
  > .col-right
  > .reaction {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: reaction;
}

.reaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reaction > a,
.reaction > form > button {
  font-size: 14px;
  color: var(--Grey);
  margin-right: 30px;
  border: none;
}

/*home-col-right*/
.home-page > .home-col-right {
  padding: 10px 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.home-page > .home-col-right > .title {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 600;
  color: var(--lightBlue);
}

.home-page > .home-col-right > .user-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 65%;
  grid-template-columns: 35% 65%;
  -ms-grid-rows: 140px;
  grid-template-rows: 140px;
  grid-template-areas: 'user-avatar user-info';
  border-bottom: 1px solid var(--bgColor);
  margin-bottom: 15px;
}

.home-page > .home-col-right > .user-list > .col-left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: user-avatar;
  margin: 0px auto;
}

.home-page > .home-col-right > .user-list > .col-right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: user-info;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 25px 65px 30px;
  grid-template-rows: 25px 65px 30px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: 'popular-name' 'introduction' 'follow-button';
}

.home-page > .home-col-right > .user-list > .col-right > .tweet-info {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: popular-name;
}

.home-page > .home-col-right > .user-list > .col-right > .tweet-info > a {
  color: #000;
  font-weight: 600;
}

.home-page > .home-col-right > .user-list > .col-right > p {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: introduction;
}

.home-page > .home-col-right > .user-list > .col-right > form {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: follow-button;
  text-align: right;
}
