.user-specific-page > .user-info-list > .add-tweets {
  background-color: #e8f5fd;
  padding: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 85%;
  grid-template-columns: 15% 85%;
  -ms-grid-rows: 125px;
  grid-template-rows: 125px;
  grid-template-areas: 'home-avatar home-tweet';
}

.user-specific-page > .user-info-list > .add-tweets > .avatar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: home-avatar;
  padding-left: 24px;
}

.bottom-option {
  margin: 0px;
  margin-top: 5px;
  text-align: right;
}

.user-specific-page
  > .user-info-list
  > .add-tweets
  > .tweets-content
  > form
  > .bottom-option
  > button {
  margin: 0px;
}
