.dark-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 20;
}

.signup-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.signup-container > .signup-box {
  width: 500px;
  margin: auto;
  position: relative;
  background-color: #fff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  padding: 30px 40px;
  z-index: 30;
}

.signup-container > .signup-box > .signup-title {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: var(--generalWord);
}

.signup-container > .signup-box > form {
  margin-top: 15px;
}

.signup-container > .signup-box > form > div > label {
  display: block;
  color: #657786;
  padding: 2px 0px 0px 10px;
  width: -webkit-fill-available;
}

.signup-container > .signup-box > form > .signup-list {
  background-color: #f5f8fa;
}

.signup-container > .signup-box > form > .signup-list > input {
  width: -webkit-fill-available;
  background: transparent;
  border: none;
  border-bottom: 2px solid #657786;
  font-size: 14px;
  padding: 5px 10px;
}

.signup-container > .signup-box > form > .signup-list > input:focus {
  border-bottom: 2px solid var(--lightBlue);
}

.signup-container > .signup-box > form > button {
  color: var(--lightBlue);
  background-color: #fff;
}

.signup-container > .signup-box > form > a {
  color: #fff;
  display: inline-block;
  background-color: var(--lightBlue);
  margin-top: 10px;
}

.signup-container > .signup-box > form > a:hover {
  background-color: var(--hoverColorDark);
}

.signup-container > .signup-box > form > button:hover {
  background-color: var(--hoverColorLight);
}
